In [1]:
import matplotlib.pylab as plt
import numpy as np
%matplotlib inline
from sklearn.linear_model import LinearRegression
from sklearn import datasets
import pandas as pd

In [2]:
diabetes = datasets.load_diabetes() # load data

Ten baseline variables, age, sex, body mass index, average blood pressure, and six blood serum measurements were obtained for each of n = 442 diabetes patients, as well as the response of interest, a quantitative measure of disease progression one year after baseline.

In [3]:
# define the data/predictors as the pre-set feature names  
df = pd.DataFrame(diabetes.data, columns=diabetes.feature_names)
df.head()

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019908,-0.017646
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068330,-0.092204
2,0.085299,0.050680,0.044451,-0.005671,-0.045599,-0.034194,-0.032356,-0.002592,0.002864,-0.025930
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022692,-0.009362
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031991,-0.046641

In [4]:
target = pd.DataFrame(diabetes.target)
target.columns = ['target']
target.head()

   target
0   151.0
1    75.0
2   141.0
3   206.0
4   135.0

In [5]:
# Split the train and test data
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(diabetes.data, diabetes.target, test_size=0.2, random_state=0)

Model Prediction

In [6]:
# 1. Setting up the model
model = LinearRegression()

In [7]:
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold
# create a KFold object with 5 splits 
folds = KFold(n_splits = 10, shuffle = True, random_state = 100)
scores = cross_val_score(model, X_train, y_train, scoring='r2', cv=folds)
scores

array([0.36339874, 0.61647401, 0.46791176, 0.46493549, 0.60525511,
       0.61273612, 0.52036717, 0.37279425, 0.56177658, 0.47324982])

In [8]:
score_cv_5 = cross_val_score(model, X_train, y_train, cv=folds, scoring="neg_mean_squared_error")
score_cv_5

array([-2471.17359034, -2640.77619585, -2986.67860215, -3402.16901899,
       -2298.94461505, -2265.72133685, -3369.22052812, -3588.07461926,
       -2519.23590462, -3281.32078712])

In [ ]:
# 2. training the model based on the known dataset
model.fit(X_train, y_train)
result = model.fit(X_train, y_train)